colorama==0.4.6
docx2pdf==0.1.8
docx2txt==0.8
et-xmlfile==1.1.0
fpdf==1.7.2
lxml==4.9.2
numpy==1.24.1
openpyxl==3.0.10
Pillow==9.4.0
pyception==0.1.1
pycryptodome==3.17
pycryptodomex==3.17
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-docx==0.8.11
pywin32==305
pyzipper==0.3.6
six==1.16.0
tqdm==4.64.1
transliterate==1.10.2
